body { margin: 5px 5px; }
ul { margin-bottom: 0px; } 

.widget { background: #FC6; margin-top: 5px;} 

.toggler { border: 1px solid #999; padding:	2px; padding-left: 20px;}
.toggler { background: #DDD url(/images/silk/icons/bullet_go.png) no-repeat scroll 2px 3px; }

.toggled { border: 1px solid #999; border-top: 0px; padding: 5px 5px; }
.toggled > ul { list-style: none; }
.toggled > ul > li { margin-left: 0px; }

