body { margin: 5px 5px; }

table { display: block; }
ul { margin-bottom: 0px; } 

a[href^="http"] {
	background: transparent url(/images/application/external.png) no-repeat scroll right center;
	padding-right:13px;
}

.widget { background: #FC6; margin-top: 5px; } 

.toggler { border: 1px solid #999; padding:	2px; padding-left: 25px; background: #DDD; }
.toggler { background: url(/images/silk/icons/door_open.png) no-repeat scroll 2px 3px; }
.toggler.closed { background: url(/images/silk/icons/door.png) no-repeat scroll 2px 3px; }
.toggler a { text-decoration: none; font-weight: bold; color: #000; }
.toggler a:hover { text-decoration: underline; }

.togglee { border: 1px solid #999; border-top: 0px; padding: 5px; }
.togglee.closed { display: none; }
.togglee > ul { list-style: none; }
.togglee > ul > li { margin-left: 0px; }

.drawing-container { background-color: #FFF; border-top: 1px solid #999; border-bottom: 1px solid #999; }
.drawing-header, .drawing-content, .drawing-footer { background-color: #FFF; }
.drawing-header, .drawing-content { border-bottom: 1px solid #999; } 
.drawing-header { padding: 2px; background-color: #FFF; }
.drawing-toolbar { background-color: #DDD; padding: 2px; }
.drawing-toolbar li { display: inline; list-style-type: none; margin: 0px; margin-right: 2px; }
.drawing-toolbar a { text-decoration: none; height: 29px;}
.drawing-toolbar img { vertical-align: middle; }
.drawing-toolbar img:hover { }
.drawing-content { padding: 2px; } 
.drawing-canvas { width: 444px; height: 200px; }
.drawing-footer { padding: 0px 2px; }
.drawing-status { padding: 2px; background-color: #DDD; white-space: pre; }



