body { margin: 5px 5px; }
ul { margin-bottom: 0px; } 
dl { margin-bottom: 0px; } 
canvas { border: 1px solid #999; width: 100%; }

.widget { background: #FC6; margin-top: 5px; } 

.toggler { border: 1px solid #999; padding:	2px; padding-left: 22px; background: #DDD; }
.toggler { background: url(/images/silk/icons/door_open.png) no-repeat scroll 2px 3px; }
.toggler.closed { background: url(/images/silk/icons/door.png) no-repeat scroll 2px 3px; }

.togglee { border: 1px solid #999; border-top: 0px; padding: 5px; }
.togglee.closed { display: none; }
.togglee > ul { list-style: none; }
.togglee > ul > li { margin-left: 0px; }

