<div id="toolbar">
	<dl>
		<dt class="">draw</dt>
		<dd class="">button</dd>
		<dt class="">erase</dt>
		<dd class="">button</dd>
	</dl>
</div>

<div id='canvas'>
	canvas
</div>

<div id="debugger">
	<ul>
		<li><a href="javascript:log.clear();">clear</a></li>
		<li><a href="javascript:log.move();">move</a></li>
		<li><a href="javascript:log.resize();">resize</a></li>
		<li><a href="javascript:log.toggle();">toggle</a></li>
	</ul>
</div>