<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <title>JS.Class - Drawing Demo</title>
		<%= generate_tags_for_assets :defaults %>
  </head>
  <body>
	
		<%= yield %>
		
  </body>
</html>