<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <title>JS.Class - Drawing Demo</title>
		<%= generate_tags_for_assets :defaults %>
  </head>
  <body>
	
		<div class="container_16">
			<div class="grid_4">
				<%= yield :left %>
			</div>
			
			<div class="grid_8">
				<%= yield :center%>
			</div>
			
			<div class="grid_4">
				<%= yield :right %>
			</div>
		</div>
		
  </body>
</html>